/* Menu-specific styles */

body {
    display: flex; /* Using flexbox to arrange items horizontally */
    flex-wrap: wrap; /* Allowing items to wrap to the next line if needed */
    justify-content: center; /* Centering items horizontally */
}

.item {
    width: 150px; /* Setting a fixed width for each item */
    text-align: center; /* Centering content within each item */
    margin: 20px;
    padding: 10px;
    background-color: #fff; /* Background color for each item */
    border-radius: 10px; /* Rounded corners for each item */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a shadow effect */
    transition: transform 0.3s ease; /* Adding a smooth transition effect */
}

.item:hover {
    transform: translateY(-5px); /* Adding a slight lift effect on hover */
}

.item img {
    width: 100%; /* Making sure images fill their container */
    height: auto;
    border-radius: 10px; /* Rounded corners for images */
}

.item .info {
    margin-top: 10px; /* Adding some space between image and text */
}

h1{
    text-align: center;
    color:blueviolet;
    display: flex;
}