<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>About Us</title>
</head>
<body>

<header>
    <div class="shopping-cart-icon">
        <a href="payment.html">
          <img src="../images/icons8-shopping-cart.gif" alt="Cart">
          <span class="cart-counter">0</span>
        </a>
    </div>
    <div class="logo">
        <img src="../images/NAU cafe.png" alt="">
    </div>
    <nav class="navigationBar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="about">
        <h2>Welcome to NAU Cafe</h2>
        <p>We are a cozy cafe located inside North American University. Since 2024, we have been serving delicious coffee and pastries to our customers. Our goal is to provide a warm and inviting atmosphere where you can relax and enjoy a cup of coffee with friends or get some work done.</p>
        <p>For inquiries or reservations, please contact us:</p>
        <ul>
            <li>Phone: 222222222</li>
            <li>Email: NAUcafe@na.edu</li>
            <li>Address: 11929 West Airport Blvd</li>
        </ul>
        <a href="menu.html" class="btn">View Full Menu</a>
    </section>

    <section class="menu">
        <div class="menu-images">
            <img src="./images/images/Blackrock.png" alt="blackrock">
            <img src="./images/images/capeccino.png" alt="capeccino">
            <img src="./images/images/dalgona.png" alt="dalgona">
            <img src="./images snack/cookies.jpg" alt="cookie">
            <img src="./images snack/sandwich.jpg" alt="cookie">
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2024 NAU Cafe. All rights reserved.</p>
</footer>

</body>
</html>
