<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Name</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <script type="module" src="../script/cart.js"></script>
</head>
<body>
    <header>
        <div class="shopping-cart-icon">
            <a href="payment.html">
              <img src="../images/icons8-shopping-cart.gif" alt="Cart">
              <span class="cart-counter">0</span>
            </a>
        </div>
        <h1>NAU CAFE</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>

            </ul>
        </nav>
    
    </header>
    
    <main>
        
    </main>
    
    <footer>
        <p>&copy; 2024 Cafe Name. All rights reserved.</p>
    </footer>
</body>
</html>