body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
}

header {
  background-color: #f8f9fa; /* Add background color to the header */
  padding: 20px; /* Add padding to the header */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

nav ul li a:hover {
  color: #1500ff;
}

h1 {
  background-color: sienna;
  text-align: center;
  margin: 0; /* Reset margin for h1 */
  padding: 20px; /* Add padding to h1 */
}

main {
  flex-grow: 1; /* Allow main content to grow and push footer to the bottom */
  padding: 20px; /* Add padding to main content */
  overflow-y: auto; /* Make main content area scrollable */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/*shopping cart*/

.shopping-cart-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.shopping-cart-icon img[data-count]:after {
  content: attr(data-count);
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 0.75em;
}

.cart-counter {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75em;
}